h1 {
  margin-bottom: 30px;
}

p {
  margin: 0 30px;
  font-size: 20px;
}

img {
  margin: 30px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
}

